## ANN Clasifier

<b>Importing Required Libraries

In [87]:
import numpy as np # linear algebra
import pandas as pd # data processing
import seaborn as sns
import tensorflow as tf
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler

<b>Mouting Google Drive to read data

In [2]:
from google.colab import drive
drive.mount("/content/gdrive")

Mounted at /content/gdrive

In [114]:
inFile = "/content/gdrive/My Drive/Dataset/winequality-red.csv"
data = pd.read_csv(inFile)

In [115]:
data.head()

   fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0            7.4              0.70         0.00  ...       0.56      9.4        5
1            7.8              0.88         0.00  ...       0.68      9.8        5
2            7.8              0.76         0.04  ...       0.65      9.8        5
3           11.2              0.28         0.56  ...       0.58      9.8        6
4            7.4              0.70         0.00  ...       0.56      9.4        5

[5 rows x 12 columns]

In [116]:
X = data.drop("quality", axis = 1)
y = data["quality"]

<b>Feature Selector

In [117]:
selected_features_index = [1,1,1,1,1,1,1,1,1,1,1]
selected_features = []
cols = X.columns
for index in range(len(selected_features_index)):
  if selected_features_index[index] == 1:
    selected_features.append(cols[index])  

for i in range(len(cols)):
  k = cols[i]
  if k not in selected_features:
    X = X.drop(columns=
                     k)
scaler = StandardScaler()
scaler.fit(X)
X_scaled = scaler.transform(X)

In [118]:
X.head()

   fixed acidity  volatile acidity  citric acid  ...    pH  sulphates  alcohol
0            7.4              0.70         0.00  ...  3.51       0.56      9.4
1            7.8              0.88         0.00  ...  3.20       0.68      9.8
2            7.8              0.76         0.04  ...  3.26       0.65      9.8
3           11.2              0.28         0.56  ...  3.16       0.58      9.8
4            7.4              0.70         0.00  ...  3.51       0.56      9.4

[5 rows x 11 columns]

In [119]:
y.head()

0    5
1    5
2    5
3    6
4    5
Name: quality, dtype: int64

In [120]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_scaled,y, test_size=0.3, random_state=42)

In [121]:
data.head()

   fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0            7.4              0.70         0.00  ...       0.56      9.4        5
1            7.8              0.88         0.00  ...       0.68      9.8        5
2            7.8              0.76         0.04  ...       0.65      9.8        5
3           11.2              0.28         0.56  ...       0.58      9.8        6
4            7.4              0.70         0.00  ...       0.56      9.4        5

[5 rows x 12 columns]

In [122]:
tf.random.set_seed(42)

model = tf.keras.Sequential([
                             tf.keras.layers.Dense(100,activation='relu'),
                             tf.keras.layers.Dense(100,activation='relu'),
                             tf.keras.layers.Dense(100,activation='relu'),
                             tf.keras.layers.Dense(10),
                             tf.keras.layers.Dense(1)

])

model.compile(loss=tf.keras.losses.mape,
              optimizer=tf.keras.optimizers.Adam(learning_rate=0.01),
              metrics=['mape'])

history = model.fit(X_train,y_train, epochs=355,verbose=0)

In [123]:
loss, mape = model.evaluate(X_test,y_test)

15/15 [==============================] - 0s 1ms/step - loss: 9.0868 - mape: 9.0868

In [124]:
print(f'loss: {loss}, accuracy: {100-mape}')

loss: 9.08675765991211, accuracy: 90.91324234008789